<!doctype html>
<html lang="pt-br" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Manifest.json Configurações -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#343A40" />

    <link rel="icon" sizes="192x192" href="/images/icons/icon-192x192.png">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/footer.css">

    <title>O Dólar</title>
</head>

<body class="d-flex flex-column h-100 bg-dark text-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    O Dólar
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                <i class="fa fa-home"></i> Início
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sobre">
                                <i class="fa fa-cog"></i> Configurações
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sobre">
                                <i class="fa fa-question-circle"></i> Sobre
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>