<section class="container">
    <form name="conversor">
        <h2 class="text-center">
            Conversor
            <hr>
        </h2>
        <div class="form-group row">
            <label for="inputEntrada" class="col-2 col-form-label text-right"><strong>R$</strong></label>
            <div class="col-10">
                <input type="text" class="form-control form-control-lg" id="inputEntrada" placeholder="0,00"
                    data-mask="#.##0,00" data-mask-reverse="true">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-10 offset-2">
                <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="operacao" id="radioCompra" value="compra" autocomplete="off" checked>
                        Compra
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="operacao" id="radioVenda" value="venda" autocomplete="off">
                        Venda
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4 offset-2">
                <button type="button" class="btn btn-secondary btn-block" id="btnInverter">
                    <i class="fa fa-exchange-alt"></i>
                    Inverter
                </button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-calculator"></i>
                    Converter
                </button>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputResultado" class="col-2 col-form-label text-right"><strong>US$</strong></label>
            <div class="col-10">
                <input type="text" class="form-control form-control-lg bg-dark text-light" readonly id="inputResultado"
                    value="0,00">
            </div>
        </div>

    </form>

    <div style="margin-top: 60px">
        <h5 class="text-muted text-center">
            <strong>Cotação atual</strong>
            <hr>
        </h5>
        <p class="text-muted text-center">
            <strong>US$</strong> 1,00 =>
            <strong>R$</strong> <span id="cotacao-compra">0,00</span> (Compra) |
            <strong>R$</strong> <span id="cotacao-venda">0,00</span> (Venda)
        </p>
        <p class="text-muted text-center">
            <small>Atualizado em <span id="cotacao-data">XX/XX/XXXX</span>, pela API do
                <a href="https://www.bcb.gov.br/" target="_blanck">Banco Central</a>.
            </small>
        </p>
    </div>
</section>