<section class="container">
    <h2 class="text-center">
        Ajuda
        <hr>
    </h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="640" height="360"
            src="https://www.youtube.com/embed/TpjzhMk_M-Q?list=PLhW5jRUibMHW8mgNXJ_saJXAwFXTnQq-3" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <hr>
    <div class="row">
        <p class="col-12">
            Nos ajude a melhorar este aplicativo respondendo este questionário (não deve demorar mais que 5 minutos):
            <br>
            <a href="https://forms.gle/GEdWzMMSYYZujRM58">Questionário</a>
        </p>
        <p class="col-12">
            Caso tenha dúvidas ou sujestões nós envie um email:
            <br>
            <a href="mailto:codinomedeveloper@gmail.com">codinomedeveloper@gmail.com</a>
        </p>
    </div>
</section>